.Projects {
    width: 75%;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: none;
    margin-bottom: 20px;
}

.cardImg {
   height: 170px;
   overflow: hidden;
   object-fit: cover;
}

.tags {
    padding-left: 10px;
}

.tag {
    color: white;
    background-color: var(--detail);
    padding: 3px;    
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 5px;
}

.tag-design {
    width: 65px;
}

.tag-wireframe {
    width: 95px;
}

.tag-javascript {
    width: 105px;
}

.tag-react {
    width: 55px;
}

.tag-php {
    width: 35px;
}

.tag-crud {
    width: 45px;
}

.tag-sql {
    width: 35px;
}

.tag-wordpress {
    width: 95px;
}

.tag-stage {
    width: 55px;
}

.tag-github {
    width: 65px;
}