.Projects {
    width: 75%;
}

.row {
    padding-bottom: 20px;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: none;
    height: 450px;
}

.btn-primary {
    background-color: var(--primary);
    border: none;
}

.btn-primary:hover{
    background-color: var(--highlight);
    border: none;
}

.cardImg {
   height: 200px;
   overflow: hidden;
   object-fit: cover;
}