.navbar {
    font-family: 'Courier New', Courier, monospace;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-bottom: 50px;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    color: var(--primary);
}

.nav-link:hover {
    color: var(--secundary);
}