.introduction {
    width: 75%;
}

.Iso-img {
    width: 100%;
}

.img {
    display: flex;
    align-items: center;
}

.type {
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    font-weight: bold;
    color: var(--text);
    display: flex;
    align-items: center;
}

@media screen and (max-width: 400px) {

    .type {
        margin-bottom: 15px;
    }
}