.introduction {
    width: 75%;
}

.Iso-img {
    width: 100%;
}

.img {
    display: flex;
    align-items: center;
}

.type {
    font-family: 'Courier New', Courier, monospace;
    font-size: 38px;
    color: var(--secundary);
    position: relative;
}

.typing {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.type p {
    color: var(--text);
    margin: 0 5px 5px 5px;
}

@media screen and (max-width: 990px) {

    .media {
        margin-bottom: 15px;
    }

    .type {
     display: none;
    }
    
}