.social {
    width: 50%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.social h3, p, a {
    color:  var(--text);
    text-decoration: none;
}

.social a:hover {
    text-decoration: none;
    color:  var(--primary);
}

.social p:hover {
    color:  var(--primary);
}

.vl {
    border-left: 3px solid var(--primary);
    height: 220px;
}

.icon {
    margin-right: 5px;
}
