.social {
    width: 50%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.social a {
    text-decoration: none;
    color:  var(--text);
}

.social a:hover {
    text-decoration: none;
    color:  var(--primary);
}

.vl {
    border-left: 3px solid var(--primary);
    height: 220px;
  }